.fontone {
	font-family: fontone;
	font-size:210px;
}

#fontone {
	height:400px;
	display:flex;
	align-items:center;
}

.test-container {
	position:absolute;
	top:0;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	visibility:hidden;
}

.test-span {
}

#fonttwo {
	font-family: fonttwo;
	height:400px;
}

#fontthree {
	font-family: fontthree;
	height:400px;
}
